############# START DEFAULT IGNORE
# OSX metadata
.DS_Store

# SVN folders
.svn

# system files
*._*
*.log

# windows thumbnails
thumbs.db

############# END DEFAULT IGNORE

# local config
internal/config/cfgLocal.php

# log files
internal/logs/*

# media files
internal/media/*

# MODX Page cache
assets/cache/*.pageCache.php
assets/cache/siteCache.idx.php
assets/cache/sitePublishing.idx.php


# MODX RSS cache
assets/cache/rss/*

# admin stats files
admin/cdws/stats/*

# ignore rss cache
internal/includes/rssCache/*

# ignore smarty template cashe
internal/templates/compiled/

# ignore test files
internal/DELETEME/tests/*

/*.json