# OSX metadata
.DS_Store

# SVN folders
.svn

# system files
*._*
*.log

# windows thumbnails
thumbs.db

# local config
internal/config/cfgLocal.php

# log files
internal/logs/*

# media files
internal/media/*

# MODX Page cache
assets/cache/*.pageCache.php

# MODX RSS cache
assets/cache/rss/*

# admin stats files
admin/cdws/stats/*

# ignore rss cache
internal/scripts/rssCache/*
i

# ignore test files
internal/DELETEME/tests/*