# php_value auto_prepend_file '/Users/iturgeon/svn/obojobo_website/internal/DELETEME/acu_phpaspect.php'

RewriteEngine On
RewriteBase /

# dont rewrite these directories
RewriteRule ^(manager|assets) - [L]

# media
RewriteRule ^media/([0-9]*)$ assets/getAsset.php?id=$1 [L,QSA]

# Preview LO links
RewriteRule ^preview/([0-9]*)$ index.php?q=viewer&newest=true&preview=$1 [L,QSA]

# View LO links
RewriteRule ^view/([0-9]*)$ index.php?q=viewer&view=$1 [L,QSA]

# For Friendly URLs for modx (forward everything to index.php except real files)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]