/api/
/assets/
/error/
/internal/admin
/internal/classes
/internal/config
/internal/docker
/internal/includes
/internal/logs
/internal/templates
/internal/vendor
/lti
/node_modules
/wp
package.json
coverage
