@import 'includes';

$divider-color: #dedede;

.repository--assessment-scores-section {
	.assessment-scores-summary {
		margin: 1em 0;
	}

	.assessment-score-search {
		margin: 2.5em 0 0.5em 0;
		display: flex;
		justify-content: space-between;

		.title {
			margin: 0;
			font-size: 1em;
			font-weight: bold;
		}
	}

	.download-button {
		margin-top: 1em;
	}
}
