$font-family: 'Lato', arial;
$text-color: white;
$alt-text-color: black;
$bg-color: #9e4867;
$alt-bg-color: #ececec;
$color-transparent: rgba(0, 0, 0, 0);

.repository--button {
	display: inline-block;
	user-select: none;
	position: relative;
	cursor: pointer;
	font-family: $font-family;

	&.is-type-text {
		background: none;
		color: $bg-color;
		text-decoration: underline;
	}

	&.is-type-text-bold {
		background: none;
		color: $bg-color;
		text-decoration: underline;
		font-weight: bold;
	}

	&.is-type-small {
		text-align: center;
		font-size: 0.85em;
		min-width: 3.25em;
		border-radius: 0.3em;
		padding: 0.6em 1em;
		color: $text-color;
		background: $bg-color;
		box-shadow: 0 1px 1px 0 black;
	}

	&.is-type-large {
		text-align: center;
		font-size: 1em;
		font-weight: bold;
		min-width: 4em;
		border-radius: 0.3em;
		padding: 0.6em 1em;
		color: $text-color;
		background: $bg-color;
		box-shadow: 0 1px 1px 0 black;
	}

	&.is-type-alt {
		text-align: center;
		font-size: 0.85em;
		min-width: 3.25em;
		border-radius: 0.3em;
		padding: 0.6em 1em;
		color: $alt-text-color;
		background: $alt-bg-color;
		box-shadow: 0 1px 1px 0 black;
	}
}
