@import './_includes.scss';

.modal-about-learning-object {
	> .def-list {
		margin: 0.8em 0.8em;
	}

	> .flash-html-container {
		margin: 0.8em 0.8em;
	}

	> .modal-about-lo-button {
		margin: 0 auto;
	}
}
