.repository--my-instances {
	display: flex;
	flex-direction: column;

	> h1 {
		margin-bottom: 1em;
		font-size: 1.25em;
	}

	> .filter {
		display: flex;
		align-items: center;
		margin-bottom: 0.5em;
		gap: 1em;

		> .repository--search-field {
			flex-grow: 1;

			> .search-field {
				width: 100%;
			}
		}
	}

	> .repository--data-grid-instances {
		flex-grow: 1;
	}
}

.modal-new-instance{
	iframe{
		height: 900px;
		width: 750px;
		border: none;
		margin: -1em -1em 1em -1em;
	}
}