.repository--wrapper{

	font-size: 1.5em;

	header{

	}

	footer{

	}

	.content-wrapper{
		display: flex;
	}

	.content-sidebar{
		width: 500px;
		height: 90vh;
	}

	.content-main{

	}


	.repository-data-table{
		font-size: .8em;
		padding: 0px;
		margin: 0px;
		border-spacing: 0px;

		td{
			padding: 5px 10px;
		}

		tbody{
			tr{
				cursor: pointer;
			}
			tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			tr:hover{
				background-color: #b2b2b2;
			}

		}


		.date-time-cell {
			padding: 0;
			margin: 0;
			height: 100%;
			position: relative;


			& > div{
				height: 50%;
				line-height: 34px;
				margin-bottom: -9px;

				&:nth-child(1){
					font-weight: bold;
				}
			}
		}
	}
}