@import './includes';

.repository--search-field {
	position: relative;

	> .magnifier-icon {
		background-image: url('../../../assets/images/viewer/magnifier-icon.svg');
		background-repeat: no-repeat;
		display: inline-block;
		width: 1em;
		height: 1em;
		position: absolute;
		left: 0.7em;
		top: 0.5em;
	}

	> .search-field {
		font-family: $font-default;
		border-radius: 3em;
		color: $color-text;
		border: 1px solid $color-shadow;
		padding: 0.4em 0.4em 0.4em 2em;
		width: 15em;
	}
}
