
h1{
	font-size:35px;
	font-weight:normal;
	position:relative;
}

h1 i{
	color:#CCCCCC;
	font-size:20px;
	line-height:45px;
	position:absolute;
	right:0;
}

div.dokuwiki ul.suggestions{
	list-style:none;
	margin-left:0px;
}

.suggestions li{
	background-color:#DDD;
	padding:10px;
	margin-bottom:10px;
	position:relative;
	font-size:14px;
	width:610px;
	overflow-x:hidden;
	word-wrap:break-word;
}

#suggest{
/*	background-color:#252524;*/
	padding:30px;
	margin:60px 0 0;
}

.rounded,
#suggest,
.suggestions li{
	-moz-border-radius-topleft:12px;
	-moz-border-radius-bottomright:12px;

	-webkit-border-top-left-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	
	border-top-left-radius:12px;
	border-bottom-right-radius:12px;
}

#suggestionText{
/*	background-color:#F0F0F0;*/
	border:1px solid #333333;
	color:#888;
	display:block;
	float:left;
	font-size:13px;
	margin-right:20px;
	padding:4px 0 4px 14px;
	text-shadow:1px 1px 0 white;
	width:475px;
	outline:none;
}

#submitSuggestion{
	width:95px;
	height:31px;
	background:url('img/submit_button.png') no-repeat;
	text-transform:uppercase;
	text-indent:-9999px;
	overflow:hidden;
	border:none;
	cursor:pointer;
	display:block;
	margin:0 auto;
}

#submitSuggestion:hover{
	background-position:left -31px;
}

form.working #submitSuggestion{
	background-position:left bottom;
}

.suggestions .text{
	line-height:1.4;
	padding:0 70px;
}

.suggestions .rating{
	bottom:12px;
	color:#939393;
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	position:absolute;
	right:15px;
}

.vote{
	float:left;
}

.vote span{
	background:url('img/vote_arrows.png') no-repeat;
	float:left;
	height:26px;
	margin-right:4px;
	width:26px;
	cursor:pointer;
	text-indent:-99999px;
}

.vote.inactive span{
	opacity:0.5;
	filter: alpha(opacity = 50);
	cursor:default;
}

.id {display:none;}
.vote .down	{ background-position:right top;}
.vote.active .up:hover		{	background-position:left bottom;}
.vote.active .down:hover	{	background-position:right bottom;}
