html
{
	background: url('/assets/images/viewer/themes/classic/main-bg.png') center repeat-y, #995a5a;
}

#header
{
	height: 69px;
	background: url('/assets/images/viewer/themes/classic/head-bg-highlight-left.png') top left no-repeat, url('/assets/images/viewer/themes/classic/head-bg-highlight-right.png') top right no-repeat, url('/assets/images/viewer/themes/classic/head-bg.png') top repeat-x, url('/assets/images/viewer/themes/classic/nav-bg.png') bottom repeat-x;
	border:solid #ecd3d2 4px;
}

#nav-list > li
{
	height:32px;
}

#nav-list > li.selected
{
	background: auto;
}

#nav-list > li.selected > a
{
	padding-bottom: 24px;
	background: url('/assets/images/viewer/themes/classic/nav-selected-item.png') bottom center no-repeat;
}

#nav-list a,
#nav-list a:link,
#nav-list a:visited
{
	color:#f0d08b;
}

h2
{
	color:#990000;
	text-shadow: rgba(0, 0, 0, .2) 0px 1px 1px;
}

h3
{
	text-shadow: rgba(0, 0, 0, .2) 0px 1px 1px;
}

#overview-page h3
{
	color: #990000;
	text-shadow: none;
}

.page-layout h2
{
	margin:27px 0 20px 0;
}

.overview-details
{
	background:#f2e6e1;
	border-top: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

#overview-instructions h3
{
	color: auto;
}

#overview-page hr
{
	background: url('/assets/images/viewer/themes/classic/overview-hr.png');
}

::selection,
::-moz-solection
{
	color: auto;
	background: #ffb7b7;
}

#content-size {
	left: 360px;
}

#practice-size
{
	left: 488px;
}

#assessment-size
{
	left: 615px;
}