
        <form  class="search" id="dw__search"><div class="no"><input type="text" id="qsearch__in" class="edit" /><input type="submit" class="button" /></div></form>&nbsp;
@media all{
	a.interwiki {
		background: transparent url(../images/interwiki.png) no-repeat scroll 0 1px;
		padding-left: 16px;
	}
	
	
}


/* all media */
@media screen {
	li.protectedLink a{
		background: url(../images/icon_padlock.gif) center right no-repeat;
		padding: 0 17px 0 0;
	}	
    #ajaxSearch_form {
        color: #444;
        width: auto;
    }
	#ajaxSearch_form fieldset{
		border:0;
	}
    #ajaxSearch_input {
		border: 1px solid #8CACBB;
		color: #222222;
		display: inline;
		font-size: 100%;
		margin: 1px;
		padding: 0.2em 0.3em;
		vertical-align: middle;
    }
    #ajaxSearch_submit {
		background-color: #CCCCCC;
		border: medium none;
		color: #222222;
		cursor: pointer;
		font-size: 1em;
		margin: 1px;
		padding: 0.125em 0.4em;
		text-decoration: none;
		vertical-align: middle;
    }
    #ajaxSearch_output {
        border-top: 1px dotted #999;
		border-bottom: 1px dotted #999;
        background: #DDD;
        display: block;
        height: auto;
        vertical-align: top;
		margin:2px 2px;
    }
    .AS_ajax_result {
		margin: 0 auto;
		text-align:left;
        color: #444;
		padding: 5px;
    }
    #current-search-results h2{
		margin: 0;
		padding: 0px;
    }
	.AS_ajax_resultExtract{
		margin-left:10px;
		padding:5px;
		background-color:#EFEFEF;
		font-style:italic;
		font-size:10px;
		
	}
	a.AS_ajax_resultLink{
		color:#234A6B !important;
	}
    .AS_ajax_resultDescription{
        color: #555;
    }
    .AS_ajax_more {
        color: #555;
    }
	
	a.interwiki {
		background: transparent url(../images/interwiki.png) no-repeat scroll 0 1px;
		padding-left: 16px;
	}

	div.clearer {
		clear: both;
		height: 0;
		line-height: 0;
		overflow: hidden;
	}
	div.no {
		display: inline;
		margin: 0;
		padding: 0;
	}
	.hidden {
		display: none;
	}
	div.error {
		background: #FFCCCC url(../styles/images/error.png) no-repeat scroll 0.5em 0;
		border-bottom: 1px solid #FFAAAA;
		color: #000000;
		font-size: 90%;
		margin: 0;
		overflow: hidden;
		padding-left: 3em;
	}
	div.info {
		background: #CCCCFF url(../styles/images/info.png) no-repeat scroll 0.5em 0;
		border-bottom: 1px solid #AAAAFF;
		color: #000000;
		font-size: 90%;
		margin: 0;
		overflow: hidden;
		padding-left: 3em;
	}
	div.success {
		background: #CCFFCC url(../styles/images/success.png) no-repeat scroll 0.5em 0;
		border-bottom: 1px solid #AAFFAA;
		color: #000000;
		font-size: 90%;
		margin: 0;
		overflow: hidden;
		padding-left: 3em;
	}
	div.notify {
		background: #FFFFCC url(../styles/images/notify.png) no-repeat scroll 0.5em 0;
		border-bottom: 1px solid #FFFFAA;
		color: #000000;
		font-size: 90%;
		margin: 0;
		overflow: hidden;
		padding-left: 3em;
	}
	.medialeft {
		float: left;
	}
	.mediaright {
		float: right;
	}
	.mediacenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.leftalign {
		text-align: left;
	}
	.centeralign {
		text-align: center;
	}
	.rightalign {
		text-align: right;
	}
	em.u {
		font-style: normal;
		text-decoration: underline;
	}
	em em.u {
		font-style: italic;
	}
	.code .br0 {
		color: #66CC66;
	}
	.code .co1 {
		color: #808080;
		font-style: italic;
	}
	.code .co2 {
		color: #808080;
		font-style: italic;
	}
	.code .co3 {
		color: #808080;
	}
	.code .coMULTI {
		color: #808080;
		font-style: italic;
	}
	.code .es0 {
		color: #000099;
		font-weight: bold;
	}
	.code .kw1 {
		color: #B1B100;
	}
	.code .kw2 {
		color: #000000;
		font-weight: bold;
	}
	.code .kw3 {
		color: #000066;
	}
	.code .kw4 {
		color: #993333;
	}
	.code .kw5 {
		color: #0000FF;
	}
	.code .me1 {
		color: #006600;
	}
	.code .me2 {
		color: #006600;
	}
	.code .nu0 {
		color: #CC66CC;
	}
	.code .re0 {
		color: #0000FF;
	}
	.code .re1 {
		color: #0000FF;
	}
	.code .re2 {
		color: #0000FF;
	}
	.code .re3 {
		color: #FF3333;
		font-weight: bold;
	}
	.code .re4 {
		color: #009999;
	}
	.code .st0 {
		color: #FF0000;
	}
	.code .sy0 {
		color: #66CC66;
	}

	div.dokuwiki {
		background: white none repeat scroll 0 0;
		margin: 0 auto;
		max-width: 820px;
	}
	div.dokuwiki .header {
		padding: 3px 0 0 2px;
	}
	div.dokuwiki .pagename a {
		color: #234A6B !important;
		text-decoration: none !important;
	}
	div.dokuwiki .bar {
		background: #CCCCCC none repeat scroll 0 0;
		border-top: 1px solid #F3F1E7;
		clear: both;
		text-align: right;
	}
	div.bar-left {
		float: left;
	}
	div.dokuwiki #bar__bottom {
		margin-bottom: 1em;
	}
	div.dokuwiki div.sidebar {
		border-left: 1px solid #DEDEDE;
		float: right;
		font-size: 90%;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
		width: 110px;
	}
	div.dokuwiki div.sidebar:after {
		content: "&nbsp";
		display: block;
		font-size: 0;
		height: 0;
		line-height: 0;
		overflow: hidden;
		visibility: hidden;
	}
	div.dokuwiki div.meta {
		background-color: #FFFFFF;
		clear: both;
		color: #638C9C;
		font-size: 0.8em;
		padding-left: 30px;
		padding-right: 30px;
	}
	div.dokuwiki div.meta div.user {
		float: left;
	}
	div.dokuwiki div.meta div.doc {
		text-align: right;
	}
	input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
		background-color: #E0EDFF;
		color: #000000;
	}
	div.dokuwiki div.sidebar h1 {
		clear: none;
		font-size: 120%;
		letter-spacing: 0.2em;
		margin-bottom: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	div.dokuwiki div.sidebar h2 {
		clear: none;
		font-size: 120%;
		letter-spacing: 0.2em;
		margin-bottom: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	div.dokuwiki div.sidebar h3 {
		clear: none;
		margin-bottom: 2px;
	}
	div.dokuwiki div.sidebar h4 {
		clear: none;
		margin-bottom: 2px;
	}
	div.dokuwiki div.sidebar h5 {
		clear: none;
		margin-bottom: 2px;
	}
	div.dokuwiki div.sidebar ul {
		text-align:left;
		margin-left: 0;
		padding-left: 0;
	}
	div.dokuwiki div.sidebar ul li {
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		padding-bottom: 1px;
		padding-left: 5px;
	}
	* {
		margin: 0;
		padding: 0;
	}
	body {
		background-color: #FDFDFD;
		background-image: url(../images/fnd_main3.png);
		background-position: center top;
		background-repeat: repeat-y;
		color: #222222;
		font-family: Verdana,sans-serif;
		font-size: 73%;
		line-height: 130%;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.dokuwiki {
		border-left: 1px solid #FFFFFF;
		border-right: 1px solid #FFFFFF;
	}
	.stylehead .header {
		background-image: url(../images/header2.jpg);
		height: 105px;
		margin: 0;
		padding: 0;
		vertical-align: middle;
		width: 818px;
	}
	div.dokuwiki div.page {
		float: left;
		margin: 0;
		padding: 20px 0 30px 30px;
		text-align: left;
		width: 610px;
	}
	div.dokuwiki table {
		font-size: 100%;
	}
	div.dokuwiki tr, div.dokuwiki td, div.dokuwiki th {
	}
	div.dokuwiki img {
		border: 0 none;
	}
	div.dokuwiki p, div.dokuwiki blockquote, div.dokuwiki table, div.dokuwiki pre {
		margin: 0 0 1em;
	}
	div.dokuwiki p {
		line-height: 150%;
	}
	div.dokuwiki hr {
		border-color: #8CACBB -moz-use-text-color -moz-use-text-color;
		border-style: solid none none;
		border-width: 1px 0 0;
		height: 0;
		text-align: center;
	}
	div.dokuwiki div.nothing {
		margin: 2em;
		text-align: center;
	}
	div.dokuwiki form {
		border: medium none;
		display: inline;
	}
	div.dokuwiki label.block {
		display: block;
		font-weight: bold;
		text-align: right;
	}
	div.dokuwiki label.simple {
		display: block;
		font-weight: normal;
		text-align: left;
	}
	div.dokuwiki label.block input.edit {
		width: 50%;
	}
	div.dokuwiki fieldset {
		border: 1px solid #8CACBB;
		margin: auto;
		padding: 0.5em;
		text-align: center;
		width: 300px;
	}
	div.dokuwiki textarea.edit {
		font-family: monospace;
		font-size: 14px;
		padding: 0.3em 0 0 0.3em;
		width: 100%;
	}
	div.dokuwiki input.edit, div.dokuwiki select.edit {
		border: 1px solid #8CACBB;
		color: #222222;
		display: inline;
		font-size: 100%;
		margin: 1px;
		padding: 0.2em 0.3em;
		vertical-align: middle;
	}
	div.dokuwiki select.edit {
		padding: 0.1em 0;
	}
	div.dokuwiki input.missing {
		background-color: #FFCCCC;
		border: 1px solid #8CACBB;
		color: #222222;
		display: inline;
		font-size: 100%;
		margin: 1px;
		padding: 0.2em 0.3em;
		vertical-align: middle;
	}
	div.dokuwiki textarea.edit[disabled], div.dokuwiki textarea.edit[readonly], div.dokuwiki input.edit[disabled], div.dokuwiki input.edit[readonly], div.dokuwiki select.edit[disabled] {
		background-color: #F5F5F5 !important;
		color: #666666 !important;
	}
	div.dokuwiki div.toolbar, div.dokuwiki div#wiki__editbar {
		margin: 2px 0;
		text-align: left;
	}
	div.dokuwiki div#size__ctl {
		float: right;
		height: 2.7em;
		width: 60px;
	}
	div.dokuwiki #size__ctl img {
		cursor: pointer;
	}
	div.dokuwiki div#wiki__editbar div.editButtons {
		padding: 0 1em 0.7em 0;
	}
	div.dokuwiki div#wiki__editbar div.summary {
		border: medium none;
	}
	div.dokuwiki .nowrap {
		white-space: nowrap;
	}
	div.dokuwiki div#draft__status {
		color: #638C9C;
		float: right;
		font-size: 0.8em;
	}
	div.dokuwiki input.button, div.dokuwiki button.button {
		background-color: #CCCCCC;
		border: medium none;
		color: #222222;
		cursor: pointer;
		font-size: 1em;
		margin: 1px;
		padding: 0.125em 0.4em;
		text-decoration: none;
		vertical-align: middle;
	}
	div.dokuwiki div.secedit {
		clear: both;
		height: 1.3em;
		margin: -1em 0 1em;
	}
	div.dokuwiki div.secedit input.button {
		background-color: #FAFAFA;
		border-bottom: 1px solid #CCCCCC;
		border-right: 1px solid #CCCCCC;
		cursor: pointer;
		display: inline;
		float: right;
	}
	div.dokuwiki div.pagenav {
		margin: 1em 0 0;
	}
	div.dokuwiki div.pagenav-prev {
		float: left;
		text-align: right;
		width: 49%;
	}
	div.dokuwiki div.pagenav-next {
		float: right;
		text-align: left;
		width: 49%;
	}
	div.dokuwiki a:link, div.dokuwiki a:visited {
		color: #234A6B;
		/*text-decoration: none;*/
	}
	div.dokuwiki a:hover, div.dokuwiki a:active {
		color: #222222;
		text-decoration: underline;
	}
	div.dokuwiki h1 a, div.dokuwiki h2 a, div.dokuwiki h3 a, div.dokuwiki h4 a, div.dokuwiki h5 a, div.dokuwiki a.nolink {
		color: #222222;
		text-decoration: none !important;
	}
	div.dokuwiki a.urlextern {
		background: transparent url(../images/link_icon.gif) no-repeat scroll 0 4px;
		padding: 0 0 0 14px;
		text-decoration: underline;
	}
	div.dokuwiki a.windows {
		background: transparent url(../images/windows.gif) no-repeat scroll 0 1px;
		padding: 1px 0 1px 16px;
	}
	div.dokuwiki a.interwiki {
	}
	div.dokuwiki a.media {
	}
	div.dokuwiki a.urlextern:link, div.dokuwiki a.windows:link, div.dokuwiki a.interwiki:link {
		color: #234A6B;
	}
	div.dokuwiki a.urlextern:visited, div.dokuwiki a.windows:visited, div.dokuwiki a.interwiki:visited {
	}
	div.dokuwiki a.urlextern:hover, div.dokuwiki a.urlextern:active, div.dokuwiki a.windows:hover, div.dokuwiki a.windows:active, div.dokuwiki a.interwiki:hover, div.dokuwiki a.interwiki:active {
		color: #222222;
	}
	div.dokuwiki a.mail {
		background: transparent url(../images/mail_icon.gif) no-repeat scroll 0 1px;
		padding: 1px 0 1px 16px;
	}
	div.dokuwiki a.wikilink1 {
		color: #234A6B !important;
		text-decoration: none;
	}
	div.dokuwiki a.wikilink2 {
		border-bottom: 1px dashed #CCCCCC;
		color: #FF3300 !important;
	}
	div.dokuwiki div.preview {
		background-color: #F5F5F5;
		border: 1px dashed #222222;
		margin: 0 0 0 2em;
		padding: 4px;
	}
	div.dokuwiki div.breadcrumbs {
		color: #666666;
		font-size: 0.9em;
		padding: 3px 30px;
		text-align: left;
	}
	div.dokuwiki span.user {
		color: #CCCCCC;
		font-size: 90%;
	}
	div.dokuwiki li.minor {
		color: #666666;
		font-style: italic;
	}
	div.dokuwiki img.media {
		margin: 3px;
	}
	div.dokuwiki img.medialeft {
		border: 0 none;
		float: left;
		margin: 0 1.5em 0 0;
	}
	div.dokuwiki img.mediaright {
		border: 0 none;
		float: right;
		margin: 0 0 0 1.5em;
	}
	div.dokuwiki img.mediacenter {
		border: 0 none;
		display: block;
		margin: 0 auto;
	}
	div.dokuwiki img.middle {
		vertical-align: middle;
	}
	div.dokuwiki acronym {
		border-bottom: 1px dotted #222222;
		cursor: help;
	}
	div.dokuwiki h1, div.dokuwiki h2, div.dokuwiki h3, div.dokuwiki h4, div.dokuwiki h5 {
		background-color: inherit;
		clear: left;
		color: ##222222;
		font-family: Georgia,serif;
		font-size: 100%;
		font-weight: normal;
		margin: 0 0 0.5em;
		padding: 0.5em 0 0;
	}
	div.dokuwiki h1 {
		border-bottom: 1px solid #F0F0F0;
		font-size: 2em;
		line-height: 1.1em;
	}
	div.dokuwiki h2 {
		border-bottom: 1px dashed #808080;
		font-size: 1.7em;
		line-height: 1.1em;
		margin-left: 3px;
	}
	div.dokuwiki h3 {
		border-bottom: 1px dotted #DEDEDE;
		font-size: 1.5em;
		line-height: 1.1em;
		margin-left: 6px;
	}
	div.dokuwiki h4 {
		font-family: Verdana,sans-serif;
		font-size: 1em;
		font-weight: bold;
		line-height: 1.2em;
		margin-left: 9px;
	}
	div.dokuwiki h5 {
		font-size: 1em;
		font-weight: bold;
		margin-left: 12px;
	}
	div.dokuwiki ul {
		line-height: 1.5em;
		list-style-image: none;
		margin: 0 0 1em 50px;
	}
	div.dokuwiki ul li, div.dokuwiki ol li {
		margin: 0 0 0.5em;
	}
	div.dokuwiki ol {
		margin: 0 0 1em 50px;
	}
	div.dokuwiki .li {
		color: #222222;
		font-weight: normal;
	}
	div.dokuwiki ol {
		list-style-type: decimal;
	}
	div.dokuwiki ol ol {
		list-style-type: upper-roman;
	}
	div.dokuwiki ol ol ol {
		list-style-type: lower-alpha;
	}
	div.dokuwiki ol ol ol ol {
		list-style-type: lower-greek;
	}
	div.dokuwiki li.open {
		list-style-image: url(../images/open.gif);
	}
	div.dokuwiki li.closed {
		list-style-image: url(../images/closed.gif);
	}
	div.dokuwiki blockquote {
		border-left: 2px solid #8CACBB;
		padding-left: 3px;
	}
	div.dokuwiki pre {
		border: 1px dashed #8CACBB;
		color: #222222;
		font-size: 120%;
		overflow: auto;
		padding: 0.5em;
	}
	div.dokuwiki pre.pre {
		background-color: #F7F9FA;
	}
	div.dokuwiki pre.code {
		background-color: #F7F9FA;
	}
	div.dokuwiki code {
		font-size: 120%;
	}
	div.dokuwiki pre.file {
		background-color: #CCCCCC;
	}
	div.dokuwiki table.inline {
		background-color: #FFFFFF;
		border-collapse: collapse;
		border-spacing: 0;
	}
	div.dokuwiki table.inline th {
		background-color: #F0F0F0;
		border: 1px solid #8CACBB;
		padding: 3px 5px;
	}
	div.dokuwiki table.inline td {
		border: 1px solid #8CACBB;
		padding: 3px 5px;
	}
	div.dokuwiki div.toc {
	}
	div.dokuwiki div.tocheader {
		font-weight: bold;
	}
	div.dokuwiki #toc__inside {
		padding: 0.5em 0 0.7em;
		text-align: left;
	}
	div.dokuwiki ul.toc {
		line-height: 1.2em;
		list-style-image: none;
		list-style-type: none;
		margin: 0;
		padding-left: 1em;
	}
	div.dokuwiki ul.toc li {
		background: transparent url(../images/tocdot2.gif) no-repeat scroll 0 0.6em;
		padding-left: 0.4em;
	}
	div.dokuwiki ul.toc li.clear {
		background-image: none;
		padding-left: 0.4em;
	}
	div.dokuwiki a.toc:link, div.dokuwiki a.toc:visited {
		color: #234A6B;
	}
	div.dokuwiki a.toc:hover, div.dokuwiki a.toc:active {
		color: #222222;
	}
	div.dokuwiki table.diff {
		background-color: #F0F0F0;
		width: 100%;
	}
	div.dokuwiki td.diff-blockheader {
		font-weight: bold;
	}
	div.dokuwiki table.diff th {
		border-bottom: 1px solid #8CACBB;
		font-size: 120%;
		font-weight: normal;
		text-align: left;
		width: 50%;
	}
	div.dokuwiki table.diff td {
		font-family: monospace;
		font-size: 1em;
	}
	div.dokuwiki td.diff-addedline {
		background-color: #DDFFDD;
	}
	div.dokuwiki td.diff-deletedline {
		background-color: #FFFFBB;
	}
	div.dokuwiki td.diff-context {
		background-color: #F5F5F5;
	}
	div.dokuwiki span.diffchange {
		color: red;
	}
	div.dokuwiki div.footnotes {
		border-top: 1px solid #8CACBB;
		clear: both;
		margin-top: 1em;
		padding-left: 1em;
	}
	div.dokuwiki div.fn {
		font-size: 90%;
	}
	div.dokuwiki a.fn_top {
		font-size: 80%;
		vertical-align: super;
	}
	div.dokuwiki a.fn_bot {
		font-size: 80%;
		font-weight: bold;
		vertical-align: super;
	}
	div.insitu-footnote {
		background-color: #F7F9FA;
		border: 1px solid #8CACBB;
		font-size: 80%;
		line-height: 1.2em;
		max-width: 40%;
		padding: 4px;
		text-align: left;
	}
	* html .insitu-footnote pre.code, * html .insitu-footnote pre.file {
		padding-bottom: 18px;
	}
	div.dokuwiki .search_result {
		margin-bottom: 6px;
		padding: 0 10px 0 30px;
	}
	div.dokuwiki .search_snippet {
		color: #CCCCCC;
		font-size: 12px;
		margin-left: 20px;
	}
	div.dokuwiki .search_sep {
		color: #222222;
	}
	div.dokuwiki .search_hit {
		background-color: #FF8000;
		color: #222222;
	}
	div.dokuwiki div.search_quickresult {
		border-bottom: 1px dashed #8CACBB;
		margin: 0 0 15px 30px;
		padding: 0 10px 10px 0;
	}
	div.dokuwiki div.search_quickresult h3 {
		font-size: 1em;
		font-weight: bold;
		margin: 0 0 1em;
	}
	div.dokuwiki ul.search_quickhits {
		margin: 0 0 0.5em 1em;
	}
	div.dokuwiki ul.search_quickhits li {
		float: left;
		margin: 0 1em;
		width: 30%;
	}
	div.footerinc {
		font-size: 0.8em;
		margin: 0 auto;
		max-width: 820px;
	}
	.footerinc a.rss {
		background-image: url(../images/rss.png);
		background-position: left center;
		background-repeat: no-repeat;
		padding: 3px 0 3px 20px;
	}
	div.dokuwiki div.ajax_qsearch {
		background-color: #F7F9FA;
		border: 1px solid #8CACBB;
		display: none;
		font-size: 80%;
		line-height: 1.2em;
		opacity: 0.9;
		padding: 4px;
		position: absolute;
		right: 237px;
		text-align: left;
		width: 200px;
	}
	button.toolbutton {
		background-color: #FDFDFD;
		border: 1px solid #8CACBB;
		cursor: pointer;
		margin: 0 1px 0 0;
		padding: 0;
	}
	html > body button.toolbutton {
		background: #FDFDFD url(../images/buttonshadow.png) repeat-x scroll center bottom;
	}
	div.picker {
		background-color: #CCCCCC;
		border: 1px solid #8CACBB;
		width: 250px;
	}
	button.pickerbutton {
		background-color: transparent;
		border: 0 none;
		cursor: pointer;
		font-size: 80%;
		margin: 0 1px 1px 0;
		padding: 0;
	}
	div.dokuwiki a.spell_error {
		color: #FF0000;
		text-decoration: underline;
	}
	div.dokuwiki div#spell__suggest {
		background-color: #FDFDFD;
		border: 1px solid #222222;
		display: none;
		font-size: 80%;
		padding: 2px;
	}
	div.dokuwiki div#spell__result {
		background-color: #F7F9FA;
		border: 1px solid #8CACBB;
		color: #222222;
		display: none;
		font-size: 14px;
		padding: 3px;
	}
	div.dokuwiki span.spell_noerr {
		color: #009933;
	}
	div.dokuwiki span.spell_wait {
		color: #0066CC;
	}
	div.dokuwiki div.img_big {
		float: left;
		margin-right: 0.5em;
	}
	div.dokuwiki dl.img_tags dt {
		background-color: #CCCCCC;
		font-weight: bold;
	}
	div.dokuwiki dl.img_tags dd {
		background-color: #F5F5F5;
	}
	div.dokuwiki div.imagemeta {
		color: #666666;
		font-size: 70%;
		line-height: 95%;
	}
	div.dokuwiki div.imagemeta img.thumb {
		float: left;
		margin-right: 0.1em;
	}
	div.error {
		background-position: 5px 3px;
		padding: 4px 6px;
	}

}

/* Print */
@media print {
	a.interwiki {
		background: transparent url(../images/interwiki.png) no-repeat scroll 0 1px;
		padding-left: 16px;
	}

	body {
		-x-system-font: none;
		background-color: White;
		color: Black;
		font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
		font-size: 10pt;
		font-size-adjust: none;
		font-stretch: normal;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: normal;
	}
	table {
		font-size: 100%;
		margin: 0;
		padding: 0;
	}
	tr, td, th {
		margin: 0;
		padding: 0;
	}
	img {
		border: 0 none;
	}
	a {
		background: transparent none repeat scroll 0 0 !important;
		color: #000000;
		text-decoration: none;
	}
	div.meta {
		clear: both;
		font-size: 70%;
		margin-top: 1em;
		text-align: right;
	}
	div.breadcrumbs {
		display: none;
	}
	div.secedit {
		display: none;
	}
	a.urlextern:after {
		content: " [" attr(href) "]";
		font-size: 90%;
	}
	a.interwiki:after {
		content: " [" attr(href) "]";
		font-size: 90%;
	}
	a.mail:after {
		content: " [" attr(href) "]";
		font-size: 90%;
	}
	a.wikilink1 {
		text-decoration: underline;
	}
	div.page {
		text-align: justify;
	}
	h1, h2, h3, h4, h5 {
		background-color: transparent;
		border-bottom: 1px solid #000000;
		clear: left;
		color: Black;
		font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
		font-size: 100%;
		font-weight: normal;
		margin: 0 0 1em;
		padding: 0.5em 0 0;
	}
	h1 {
		font-size: 160%;
		font-weight: bold;
	}
	h2 {
		font-size: 150%;
	}
	h3 {
		border-bottom: medium none;
		font-size: 140%;
	}
	h4 {
		border-bottom: medium none;
		font-size: 120%;
	}
	h5 {
		border-bottom: medium none;
		font-size: 100%;
	}
	img.media {
		margin: 3px;
	}
	img.medialeft {
		border: 0 none;
		float: left;
		margin: 0 1.5em 0 0;
	}
	img.mediaright {
		border: 0 none;
		float: right;
		margin: 0 0 0 1.5em;
	}
	ul {
		line-height: 1.5em;
		list-style-type: square;
		margin: 0 0 0.5em 1.5em;
		padding: 0;
	}
	ol {
		font-weight: normal;
		line-height: 1.5em;
		margin: 0 0 0.5em 2.5em;
		padding: 0;
	}
	ol ol {
		margin: 0 0 0.5em 1.5em;
	}
	div.dokuwiki ol {
		list-style-type: decimal;
	}
	div.dokuwiki ol ol {
		list-style-type: upper-roman;
	}
	div.dokuwiki ol ol ol {
		list-style-type: lower-alpha;
	}
	div.dokuwiki ol ol ol ol {
		list-style-type: lower-greek;
	}
	span.li {
		font-weight: normal;
	}
	pre.pre {
		border: 1px dashed #000000;
		color: Black;
		font-size: 8pt;
		overflow: visible;
		padding: 0.5em;
	}
	pre.code {
		border: 1px dashed #000000;
		color: Black;
		font-size: 8pt;
		overflow: visible;
		padding: 0.5em;
	}
	code {
		font-size: 120%;
	}
	pre.file {
		border: 1px dotted #000000;
		color: Black;
		font-size: 8pt;
		overflow: visible;
		padding: 0.5em;
	}
	div.footnotes {
		border-top: 1px solid #000000;
		clear: both;
		margin-top: 1em;
		padding-left: 1em;
	}
	div.fn {
		font-size: 90%;
	}
	a.fn_top {
		font-size: 80%;
		vertical-align: super;
	}
	a.fn_bot {
		font-size: 80%;
		font-weight: bold;
		vertical-align: super;
	}
	acronym {
		border: 0 none;
	}
	table.inline {
		background-color: #FFFFFF;
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 80%;
	}
	table.inline th {
		border-color: #000000;
		border-style: solid;
		border-width: 1px 1px 2px;
		padding: 3px;
	}
	table.inline td {
		border: 1px solid #000000;
		padding: 3px;
	}
	.leftalign {
		text-align: left;
	}
	.centeralign {
		text-align: center;
	}
	.rightalign {
		text-align: right;
	}
	.toc, .footerinc, .header, .bar, .user, .sidebar {
		display: none;
	}
	#sidebar {
		display: none;
	}

}
