/* -----------------------------------------------
 * Login Page
 */

html
{
	background: url('/assets/images/viewer/themes/default/bg.png');
}

body
{
	max-width: none;
}

#footer
{
	width: 100%;
	max-width: 100%;
	border-left: none;
	border-right: none;
}

#push
{
	height: 60px;
}

#login-box
{
	border-bottom: 1px solid gray;
	background: -moz-linear-gradient(white, #e7e7e7);
	background: -ms-linear-gradient(white, #e7e7e7);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e7e7e7));
	background: -webkit-linear-gradient(white, #e7e7e7);
	background-image: -webkit-linear-gradient(top, #DDD, rgb(231, 231, 231));
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	background: -o-linear-gradient(white, #e7e7e7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e7e7e7');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e7e7e7')";
	background: linear-gradient(white, #e7e7e7);
	z-index: 0;
	-moz-box-shadow: 0px 1px 5px #333;
	-webkit-box-shadow: 0px 1px 5px #333;
	box-shadow: 0px 1px 5px #333;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 2em;
	border-image: initial;
	width:520px;
	margin:0 auto;
	font-family: "Lato",Arial;
}

	/* ================ HEADER ====================*/
	#login-page #login-header h1
	{
		text-align:center;
		font-weight: 900;
		font-size: 29px;
		margin: 0px;
		background: #5572a2;
		padding: 33px 10px;
		color: #FFF;
		text-shadow: 0px -1px 0px #555, 0px 1px 0px rgba(255,255,255,0.3);
		background: -moz-linear-gradient(#8ea4b8, #48677f);
		background: -ms-linear-gradient(#8ea4b8, #48677f);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ea4b8), color-stop(100%, #48677f));
		background: -webkit-linear-gradient(white, #48677f);
		background-image: -webkit-linear-gradient(top, #8ea4b8, #48677f);
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-position-x: initial;
		background-position-y: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: initial;
		background: -o-linear-gradient(#8ea4b8, #48677f);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#48677f');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ea4b8', endColorstr='#48677f')";
		background: linear-gradient(#8ea4b8, #48677f);
		border-bottom: 1px solid #111;
	}

	#login-page #login-header h2
	{
		margin-top:0px;
		margin-bottom:30px;
		font-size:18px;
		color:#555;
		font-style:italic;
		padding:5px 0;
		border-top:1px solid #ddd;
		border-bottom:1px solid #AAA;
		background-color:#BBB;
	}
		#login-page #login-header h2 em
		{
			font-size:1.2em;
			color:#86273d;
			font-style:normal;
			padding: 0 5px 0 5px;
		}

	#login-page #login-header h3
	{
		font-size:17px;
	}

		#login-page #login-header h3 em
		{
			font-size:20px;
			color:#000;
			font-style:normal;
		}



	/* ================ LOGIN FORM ====================*/


	#login-page #login-form label,
	#login-page #login-form input
	{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		cursor: text;
	}

	/* Order matters with this and the above style*/
	#login-page #login-form label
	{
		z-index: 2000;
		top: 7px;
		left: 11px;
		color: #000;
		cursor: text;
		opacity: 0.6;
		font: normal 14px Verdana;
		font-family: Verdana, sans, sans-serif;
	}

	#login-page #login-form #signInSubmit
	{
		position: relative;
		top: 13px;
		margin: auto;
		display: block;
		cursor: pointer;
		font-family: "lato",Arial;
		font-weight: bold;
		font-size: 16pt;
		color: #fff;
		text-shadow: #333 1px 1px 1px;
		border: solid 1px #999;
		border-radius: 4px;
		border-image: initial;
		padding: 12px;
		background: rgb(175,199,220); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(175,199,220,1) 0%, rgba(113,152,180,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,199,220,1)), color-stop(100%,rgba(113,152,180,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(175,199,220,1) 0%,rgba(113,152,180,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(175,199,220,1) 0%,rgba(113,152,180,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(175,199,220,1) 0%,rgba(113,152,180,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(175,199,220,1) 0%,rgba(113,152,180,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afc7dc', endColorstr='#7198b4',GradientType=0 ); /* IE6-9 */
	}

	#login-page #login-form h1
	{
		text-align: center;
		color: #000;
		font-weight: 900;
		font-size: 1.6em;
	}


	#login-page #login-form h2
	{
		margin-top:31px;
	}


		#login-page #login-form #password,
		#login-page #login-form #username
		{
			width: 300px;
			-moz-background-clip: border;
			-moz-background-inline-policy: continuous;
			-moz-background-origin: padding;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border: 1px solid #DDD;
			color: #000;
			font-size: 14px;
			margin: 0 0 10px 0;
			padding: 7px 10px 8px;
			z-index: 5;
			border-image: initial;
		}

	#login-page #login-form ul
	{
		padding:0px;
	}

		#login-page #login-form ul li 
		{
			list-style-type:none;
			margin: 0 auto;
			margin-bottom: 5px;
			width:315px;
			padding-left:0;
			padding-right:0;
			position: relative;
			z-index: 2000;
			padding: 0 0 20px 0;
		}

	#login-page #login-form ul.foot
	{
		margin: 30px 0px;
	}

		#login-page #login-form ul.foot li
		{
			display: inline;
			padding: 0 !important;
			position: relative;
			background: none !important;
			margin:0 6px;
		}

	/* ================== NOTICE ====================*/
	#login-page .login-notice
	{
		padding: 10px 48px;
		background-color: #FF5;
		margin: 2px;
		color: #555;
		/*text-align: left;*/
	}
