.section-active{
	
}
.section{
	display:block;
	border:1px solid #333;
	margin:10px;
}

#section-overview{
	
}

#section-content{
}

#section-practice{
}

#section-assessment{
	
}

#section-feedback{
	
}