.section-active{}
	
.section-content
{
	display:block;
	border:1px solid #333;
	margin:10px;
}

#navigation{}
#nav-list{}

#section-feedback{}

#navigation a
{
	position:relative;
	top:3px;
	text-decoration: none;
}

/* ----------- 1st level elements ----------- */
#nav-list
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
	margin-bottom: 2em;
}

#nav-list > li
{
	width:125px;
	height:29px;
	display: inline-block;
	margin: 0 0 0px;
	background: url('../images/viewer/nav-line.png') top left repeat-y;
}

#nav-list > li:last-child
{
	background: url('../images/viewer/nav-line.png') top left repeat-y,
				url('../images/viewer/nav-line.png') top right repeat-y;
}

#nav-list a,#nav-list a:link,#nav-list a:visited
{
/*	padding: 0px 5px;*/
	color:#f0d08b;
	font-weight:bold;
	text-transform:uppercase;
}



/* ----------- Second and subsequent levels ----------- */
.subnav-list
{
	position: absolute;
	top: 62px;
	width: 100%;
	border-top: none;
	padding:0px;
	right:0px;
	text-align:right;
	z-index:100;
}

.subnav-list a
{
	
	vertical-align:middle;
}

.subnav-list li {
	display: inline-block;
	text-align: center;
	margin:0px 2px;
	vertical-align:top;
	position:relative;
}

#nav-list .subnav-list li a,#nav-list .subnav-list li a:link,#nav-list .subnav-list li a:visited
{
	color:#333;
	text-shadow: rgba(255, 255, 255, .8) 0px 1px 1px;
}

#nav-list .subnav-list  li.visited > a
{
	background-color:#b1c7a8;
	text-shadow: rgba(255, 255, 255, .8) 0px 1px 1px;
}

#nav-list .subnav-list  li.selected > a
{
	background-color:#f0d08b;
/*	color:#000 !important;*/
/*	text-shadow: rgba(0, 0, 0, .8) 0px 1px 1px !important;*/
}


.subnav-list > li > a {
	background: #CCC;
	display: inline-block;
	height: 27px;
	width: 27px;
	-webkit-border-radius: 13px;
	padding: 0;
	z-index:80;
	
}



/*.subnav-list a:hover,.subnav-list a:focus{}*/

/* ----------- current Link ----------- */
#nav-list > li.selected > a,
#nav-list > li.selected > a:link,
#nav-list > li.selected > a:visited
{
	color:white;
}

#nav-list > li.selected > a
{
	padding-bottom:23px;
	height:55px;
	background: url('../images/viewer/nav-selected-item.png') bottom center no-repeat;
}


/* ----------- Second and subsequent levels -------------- */

#navigation .subnav-list a
{
	top:0px;
	
}

.subnav-list-alts
{
	padding: 1px;
	border: 1px solid #DDD;
	-webkit-border-radius: 18px;
	padding-bottom: 4px;
	margin-top: 5px;
	background-color: #AAA;
	position: absolute;
	left: -4px;
	-webkit-box-shadow: -1px 3px 7px #999;
	padding-top:34px;
	top:-10px;
	z-index:10;
	display:none;
}

.subnav-list > li:hover .subnav-list-alts,
.subnav-list > li:active .subnav-list-alts
{
	display:block;
}

.subnav-list-alts li
{
	display:block;
	margin-top:1px;
}

#navigation .subnav-list-alts > li > a
{
	background: #CCC;
	display: inline-block;
	height: 23px;
	width: 23px;
	-webkit-border-radius: 13px;
	padding: 0;
	font-weight:normal;
	text-transform:lowercase;
	margin:2px;
	
}
/*.subnav-list-alts a,.subnav-list-alts a:link,.subnav-list-alts a:visited{}*/
/*.subnav-list-alts a:hover,.subnav-list-alts a:focus{}*/


/* ----------- QUESTIONS ----------- */
.answer-list
{
	list-style-type: none;
	padding:0;
	margin:10px 12px 50px 12px;
	
}
.answer
{
/*	margin-right: 22px;
*/	position:relative;
	border-bottom:1px dotted #DDD;
	padding:4px 0px;
}

.answer-list > li:last-child
{
	border-bottom:0;
}


.answer input
{
	top:10px;
	left:10px;
	position:absolute;
}

.answer label
{
	padding-left:21px;
	display:block;
	padding:8px 8px 8px 31px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	z-index:40;
}

.answer label:hover,
.answer label:active
{
	background:#d9dddc;
	-moz-box-shadow: 0px 1px 3px #AAA;
	-webkit-box-shadow: 0px 1px 3px #AAA;
	box-shadow: 0px 1px 3px #AAA;
	z-index:50;
}

li > input[type="radio"]:checked+label
{
	background:#f0d08b;
	color:#222;
}

