/**
	This is the base stylesheet, designed for traditonal large desktop screens.
	This style is global to every resolution & device.
	Specific resolution stylesheets should override layout.
	Theme stylesheets should override design.
**/


/**
	Classic theme
**/

body,
html
{
	color:#4f4f4f;
	font-family: "Georgia";
	margin:0;
	background:#fbf6f1;
}

::selection
{
	background: #ffb7b7; /* Safari */
}
::-moz-selection
{
	background: #ffb7b7; /* Firefox */
}

h2
{
	text-align:center;
	color:#990000;
	font-family: "lato";
	text-shadow: rgba(0, 0, 0, .2) 0px 1px 1px;
	font-weight:900;
	font-size:1.6em;
}

h3
{
	text-align:center;
	color:#555;
	font-family: "lato";
	text-shadow: rgba(0, 0, 0, .2) 0px 1px 1px;
	font-weight:bold;
	font-size:1.5em;
}

#overview-page h3
{
	color: #990000;
}


#overview-page p 
{
	margin:0 auto;
	width:85%;
	line-height:1.4em;
	text-align:justify;

}

#overview-blurb-title
{
	font-weight:bold;
}

.overview-details
{
	text-align: left;
	display: block;
	text-align:center;
	background:#f2e6e1 url('/assets/images/viewer/overview-bg-pixel.png') repeat-y 276px;
}

.overview-details #overview-time-estimate
{
	width: 25%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.overview-details h3
{
	margin: 15px 5px 15px 0px;
}

.overview-details #overview-time-estimate #learn-time
{
	font-size: 2.4em;
}

.overview-details #overview-time-estimate p
{
	font-size: 0.8em;
	width: 80%;
	margin: 8px auto 23px auto;	
}

.overview-details #ovierview-learning-objective
{
	display: inline-block;
	width: 65%;
	margin-left: 26px;
	vertical-align: top;	
}

#overview-time-estimate_OLD p
{
	font-size:.7em;
	width:60%;
	text-align:justify;
	margin-top:26px;
}


#objective p,
#objective ul
{
	text-align:left;
	font-family:"Georgia";
	width:100%;
	line-height:1.4em;
}

#objective ul
{
	padding-left:10px;
	list-style-position: inside;
}

#objective ul li:before
{
/*	content: "\00BB \0020";*/
}


#header
{
	width: 954px;
	margin: 0 auto;
	height: 69px;
	cursor: default;
	padding: 0 10px 0 10px;
	position: relative;
	
	font-family: "lato";
	text-shadow: rgba(0, 0, 0, .5) 0px 1px 1px;
	background: url('../images/viewer/nav-bg2.png') center repeat-x;
	background-clip:padding-box;
				
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;

	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	
	border:solid #ecd3d2 4px;
	border-top:0px;
	
	-moz-box-shadow: 0px 1px 5px #AAA;
	-webkit-box-shadow: 0px 1px 5px #AAA;
	box-shadow: 0px 1px 5px #AAA;
	
}

#header h1
{
	color:white;
	position:absolute;
	top:0px;
	left:10px;
	margin:0;
	padding:0;
	font-size: 1.6em;
}

#logo
{
	position: absolute;
	top: 8px;
	right: 10px;
	width: 144px;
	height: 23px;
	background-image: url('../images/viewer/logo.png');
	text-indent:-9000px;
}

#navigation
{
	position:relative;
	top:40px;
	text-align:center;
}

#content
{
	width: 954px;
	margin:0 auto;
	overflow:auto;
	position:relative;
	margin-bottom: 45px;
}

#overview-page
{
	display:block;
	padding-top:22px;
		text-align:center;
}

#overview-page hr
{
	width:944px;
	height:29px;
	border:0;
	background: url('../images/viewer/overview-hr.png');
}

#overview-instructions
{
	clear:both;
	padding-top:10px;
	padding-bottom:25px;
}
#overview-instructions h3
{
	color:#555;
}

.next-section-button,
.button 
{
	-moz-box-shadow:inset 0px 1px 0px 0px #eaedf2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #eaedf2;
	box-shadow:inset 0px 1px 0px 0px #eaedf2;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bfcae0), color-stop(1, #849bc9) );
	background:-moz-linear-gradient( center top, #bfcae0 5%, #849bc9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfcae0', endColorstr='#849bc9');
	background-color:#bfcae0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #999;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:1.3em;
	font-weight:900;
	padding:15px 24px;
	text-decoration:none;
	text-shadow: -1px -1px 0px #525152;
	-moz-box-shadow: 0px 1px 5px #AAA;
	-webkit-box-shadow: 0px 1px 5px #AAA;
	box-shadow: 0px 1px 5px #AAA;
	font-family:"lato";
	letter-spacing:.1em;
	margin:15px;
	line-height: 1em;
}
.next-section-button:hover,
.button:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #849bc9), color-stop(1, #bfcae0) );
	background:-moz-linear-gradient( center top, #849bc9 5%, #bfcae0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#849bc9', endColorstr='#bfcae0');
	background-color:#849bc9;
}
.next-section-button:active,
.button:active {
	position:relative;
	top:1px;
}

.content-size-display
{
	position: absolute;
	top: 0px;
	left: 369px;
	display: block;
	border: 1px solid #ccc;
	border-top:0px;
	height: 17px;
	width: 110px;
	font-size: .7em;
	padding-top:7px;
	color:#999;
	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;

	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;	
	
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

#content-size {
	left: 360px;
}

#practice-size
{
	left: 485px;
}

#assessment-size
{
	left: 609px;
}


/* ----------- CONTENT PAGE LAYOUTS ----------- */
.page-layout
{	
	list-style-position: inside;
}


.page-layout h2
{
	text-align:left;
	margin:25px 0 30px 0;
	padding:0;
	display:block;
	width:50%;
	word-wrap:break-word;
}


/* ----------- Single Text ----------- */
.page-layout-1
{
	
	
}

/* ----------- Media Left, Text Right ----------- */
.page-layout-2
{
	
	
}

.page-layout-2 .text-item
{
	
}
.page-layout-2 .media-item
{
	float:left;
	margin-right:30px;
	max-width:49%;
}
.page-layout-2 .media-item img
{
	max-width:100%;
}

/* ----------- Media Top, Text Bottom ----------- */
.page-layout-3
{
	
	
}

.page-layout-3 .media-item
{
	text-align:center;
}

.page-layout-3 img
{
	max-width:100%;
}
/* ----------- Text Left, Media Right ----------- */
.page-layout-4
{
	
	
}

.page-layout-4 .media-item
{
	float:right;
	margin-left:20px;
	max-width:49%;
}

.page-layout-4 .text-item
{
	text-align: justify;
}

.page-layout-4 .media-item img
{
	max-width:100%;
}

/* ----------- Media Top, Media Bottom ----------- */
.page-layout-5
{
	
	
}

/* ----------- Text Left, Text Right ----------- */
.page-layout-6
{
	
	
}

/* ----------- Single Media ----------- */
.page-layout-7
{
	
}

.page-layout-7 .media-item
{
	text-align:center;
	margin:5px auto;
}

.page-layout-7 .media-item img
{
	max-width:100%;
}

.page-layout-7 .page-item
{
	text-align:center;
	margin:5px auto;
}

/* ----------- Custom Layout ----------- */
.page-layout-8
{
	
	
}

.swf,
.flv
{
	margin:0 auto;
}

.flashlogo
{
	background:url('../images/viewer/flashplayer-logo.png') center center no-repeat;

}

#swf-alt-text,
#flv-alt-text
{
	display:block;
	width:100%;
	height:100%;
	border:2px dotted #CCC;
	background:#EEE url('../images/viewer/flashplayer-logo.png') center center no-repeat;
	text-align:center;
	position:relative;
}

#flash-alt-text p,
#flv-alt-text p
{
	position:absolute;
	bottom:0px;
	width:100%;
}

/* ----------- Question Page Layouts ----------- */
.question-page h2
{
	text-align:left;
	margin:25px 0 30px 0;
	padding:0;
	display:block;
	width:550px;
	color:#444;
}

.question-page h3
{
	clear:both;
	text-align:left;
	margin:55px 0 0 0;
	padding:0;
	display:block;
	width:550px;
	color:#666;
}

.question-page .text-item
{
	display: block;
	max-width: 100%;
	font-size: 1.3em;
	line-height:1.5em;
	float:left
}

/* media left, text right*/
.page-layout-2 .question .text-item
{
	max-width:48%;
	float:right;
}
/* media left, text right*/
.page-layout-2 .question .media-item
{
	max-width:48%;
	float:left;
	margin:5px 0px;
}

/* text left, media right*/
.page-layout-4 .question .text-item
{
	max-width:48%;
	float:left;
}
/* media left, text right*/
.page-layout-4 .question .media-item
{
	max-width:48%;
	float:right;
	margin:5px 0px;
}



.question-page .question
{
	display: block;
	max-width: 100%;
	background: #FBF9EF;
	border: 1px solid #DDD;
	min-height: 200px;
	padding: 20px;
	-moz-box-shadow: 0px 3px 6px #AAA;
	-webkit-box-shadow: 0px 3px 6px #AAA;
	box-shadow: 0px 3px 6px #AAA;
	margin: 0 27px;
	overflow:auto;
}




.media-item
{
	text-align:center;
	margin:5px auto;
	line-height:0;
/*	margin-bottom:5px;*/
}

.media-item img
{
	-moz-box-shadow: 0px 3px 6px #AAA;
	-webkit-box-shadow: 0px 3px 6px #AAA;
	box-shadow: 0px 3px 6px #AAA;
}

.media-item object
{
	-moz-box-shadow: 0px 3px 6px #AAA;
	-webkit-box-shadow: 0px 3px 6px #AAA;	
	box-shadow: 0px 3px 6px #AAA;
}

.answer-preview
{
	display: block;
	position: absolute;
	left: 17px;
	top: -13px;
	font-weight: bold;
	background: gray;
	color: #FFF;
	padding: 2px 12px;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;	
	border-radius:15px;
	
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	
	-moz-box-shadow: 2px 2px 10px #555;
	-webkit-box-shadow: 2px 2px 10px #555;
	box-shadow: 2px 2px 10px #555;
	
	text-align:center;
	font-family: "lato";
	text-shadow: rgba(0,0,0, 0.3) 1px 1px 2px;
}

.answer-preview-wrong
{
	background: red;
	color:#FFDDDD;
}
.answer-preview-correct
{
	background: #44AA66;
	color:#BBFFBB;
}



#footer
{
	border: 1px solid #BBB;
	
	position:fixed;
	bottom:0px;
	width:100%;
	background: #d9d8d8;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d8d8), color-stop(29%,#e5e5e5), color-stop(100%,#cfcfd0));
	background: -webkit-linear-gradient(top, #d9d8d8 0%,#e5e5e5 29%,#cfcfd0 100%);
	background: -o-linear-gradient(top, #d9d8d8 0%,#e5e5e5 29%,#cfcfd0 100%);
	background: -ms-linear-gradient(top, #d9d8d8 0%,#e5e5e5 29%,#cfcfd0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d8d8', endColorstr='#cfcfd0',GradientType=0 );
	background: linear-gradient(top, #d9d8d8 0%,#e5e5e5 29%,#cfcfd0 100%);
}


.footer-container
{
	height: 33px;
	width: 907px;
	margin: 0 auto;
	position: relative;
	padding: 2px 10px 0px 36px;
	font-size: 0.75em;
	line-height: 1.2em;
	background: url('/assets/images/viewer/icon-creative-commons.png') no-repeat 5px 5px ;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	
}


.footer-container p
{
	margin: 1px 0px 0px;
}

#page-nav
{
	clear:both;
	text-align: center;
	margin: 50px 0px;
}

#navigation #next-page-button
{
	position:absolute;
	position: absolute;
	right: -10px;
	top: 64px;
	text-transform: uppercase;
	z-index:150;
	color:#888;
}

#navigation #log-out-button
{
	background: url('/assets/images/viewer/icon-exit.png') no-repeat center center;
	display: block;
	width: 30px;
	height: 27px;
	position: absolute;
	text-indent: -99px;
	overflow: hidden;
	top: 0px;

	left: -8px;
	border-right: 1px solid #854848;
	
}

#navigation #log-out-button:hover
{
	background-color:rgba(256,256,256,.2);
}

#navigation #settings-button
{
	background: url('/assets/images/viewer/icon-settings.png') no-repeat center center;
	display: block;
	width: 30px;
	height: 27px;
	position: absolute;
	text-indent: -99px;
	overflow: hidden;
	top: 0px;
	right: -8px;
	border-left: 1px solid #854848;
	
}

#navigation #settings-button:hover
{
	background-color:rgba(256,256,256,.2);
}

.page-centered
{
	margin-top: 135px;
	text-align: center;
}

.page-centered h2 {
	font-size: 2em;
	margin-bottom: 0px;
}
.hide
{
	display:none !important;
}

.overview-feature-list
{
	
	padding: 0;
	margin:30px 0;
	list-style-type: none;
	position: relative;
	text-align: center;
}

.overview-feature-list > li
{
	display: inline-block;
	vertical-align:top;
}

.overview-feature-list figure
{
	margin: 0px 45px;
}

.overview-feature-list figcaption
{
	font-size:.8em;
	padding-top:10px;
	max-width:140px;
	
}

.triange-right
{
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid white;
	margin: 0 -7px -3px 6px;
	
}

.icon-dynamic-background
{
	background: url('/assets/images/viewer/icon-background.png') no-repeat center center;
	height: 65px;
	width: 67px;
	display: block;
	font-size: 3em;
	color: white;
	text-align: center;
	padding-top: 2px;
	margin: 0 auto;
}

.icon-missed-count
{
	background: #f0d08b;
	display: block;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	height: 50px;
	width: 60px;
	color: #333;
	text-align: center;
	padding-top: 8px;
	font-size: 2.7em;
	margin: 0 auto;
	margin-bottom: 10px;
}

.assessment-missed-section h4
{
	width: 50%;
	margin: 14px 0 10px 259px;
	font-family: "lato";
	font-size:1.2em;
}
#content .assessment-missed-section p
{
	width: 50%;
	margin-left: 259px;
	margin-bottom: 20px;
}

.assessment-missed-section figure
{
	display: inline-block;
	margin: 0;
	padding: 0 7px;
	font-size: .8em;
	width: 73px;
	margin-top: 27px;
}

.assessment-missed-section ul
{
	padding: 0;
	list-style: none;
	display: block;
	position: absolute;
	top: 0;
	left: 0px;
	border-right: 2px solid #fbf6f1;
	height: 100%;
	margin: 0;
	width: 219px;
	padding: 0;
}
.assessment-missed-section li
{
	display: inline;
}

#assessment-overview,
#practice-overview
{
	margin-top:40px;
	text-align: center;
}

#assessment-overview p,
#practice-overview p
{
	margin: 0 auto;
	width: 65%;
	line-height: 1.4em;
	text-align: justify;
}

#practice-overview hr,
#assessment-overview hr
{
	width:70%;
	margin-top: 21px;
	margin-bottom: 14px;
	border:0px;
	background-color:#CCC;
	height:1px;
}



.missed-section .missed-pages-list li
{
	margin: 2px 2px;
}


.missed-section .missed-pages-list li a
{
	height: 21px;
	width: 22px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	font-size: 0.8em;
}

.missed-section .missed-pages-list
{
/*	background: #f7e8c7;*/
	display: inline-block;
	width: auto;
	width: 80%;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	padding: 8px 8px;
	margin: 0px
}

.missed-section
{
	display:inline-block;
	width:40%;
	margin-bottom: 37px;
	vertical-align:top;
}

#footer h5 {
	top: -21px;
	right: 20px;
	width: 300px;
	font-weight: normal;
	text-align: right;
	float: right;
	margin: 0;
	font-size: 1em;
}
