<!DOCTYPE html>
<html>
<head>
<meta />
<title></title>
<link rel="profile" href="http://gmpg.org/xfn/11" />

<link rel="stylesheet" type="text/css" href="/assets/css/viewer-screen.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/assets/css/viewer-phone.css" media="screen and (max-device-width: 500px) and (orientation: portrait)" />
<link rel="stylesheet" type="text/css" href="/assets/css/viewer.css"> 

</head>
<body>
	
<span id="overview-page">
	<h2>Overview:</h2>
	<p>Welcome to the '<span id="overview-blurb-title">Title</span>' learning object.  This object has four sections - this overview page, a content section to teach you about this topic, a self-paced practice quiz to test yourself on your knowledge of the topic, and finally a recorded assessment quiz to prove your mastery of the subject.<p>
	
	<hr>
	
	<div id="overview-time-estimate">
		<h3>Time Estimate:</h3>
		<span id="learn-time">10 Min.</span>
		<p>This is how long the author has estimated it will take to complete this learning object.</p>
	</div>
	
	<div id="ovierview-learning-objective">
		<h3>Learning Objective - What you will learn:</h3>
		<span id="objective"></span>
	</div>
	
	<div id="overview-instructions">
		<h3>How to navigate:</h3>
		<p>Click '<em>Next Section</em>' below to move on to the '<em>Content</em>' section and start learning more about this topic.  You can also select a section from the bar at the top to move freely between this section, the 'Lesson' and the '<em>Practice</em>' sections.  When you feel you are prepared, move to the '<em>Assessment</em>' section and take the Assessment quiz.</p>
	</div>
	
	<span id="content-size" class="content-size-display">content-size</span>
	<span id="practice-size" class="content-size-display">practice-size</span>
	<span id="assessment-size" class="content-size-display">assessment-size</span>
	
	<a href="" class="button">Next Section &#187;</a>
</span>

<div id="flash-alt-text">
	
	<p>This page requires a version of Adobe Flash Plugin you don't have installed.<br><a class="button" href="http://get.adobe.com/flashplayer/" target="_blank">Download Flash.</a></p>
	
</div>

</body>
</html>