html {margin-top: 10px;}
table { border: 1px solid #C0C0C0; margin: 10px 0; padding: 0; text-align: left; width: 100% !important;}
table tr.even td {background:#EEE;}
table td { background-color:#FFFFFF; padding: 6px;}
table th { background-color:#ccc; padding: 2px;}
table td.key { font-weight:bold; width: 75px;border-right:1px solid #CCC;}
h2 {background: #444; color:#EEE; border: 1px solid #222;padding:2px 10px;}
h2 a {color:#EEE;text-decoration:none;}
h2 a:hover {color:#EEE;text-decoration:none;}
ul {margin: 10px;padding:0 0 0 10px;}
